body {
  margin: 0;
  padding: 5em 0 0 0;
  background-color: #020104;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 991px) {
  body {
    padding-top: 7em;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 10em;
  }
}

@media (max-width: 400px) {
  body {
    padding-top: 12em;
  }
}
